<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.shobrun.moviecatalogue">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.SettingActivity"></activity>
        <activity
            android:name=".views.MainFavoriteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.DetailTvActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.DetailMovieActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".utils.widget.MovieFavoriteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/movie_favorite_widget_info" />
        </receiver> <!-- StackWidget Service -->
        <service
            android:name=".utils.services.StackWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service android:name=".utils.services.DailyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            />
        <receiver android:name=".utils.alarm.ReminderReceiver"
            android:exported="true"
            android:enabled="true"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest>